@font-face {
  font-family: "iconfont";
  /* Project id 2545362 */
  src: url('//at.alicdn.com/t/font_2545362_p4bvtssj60g.woff2?t=1643030672160') format('woff2'),
    url('//at.alicdn.com/t/font_2545362_p4bvtssj60g.woff?t=1643030672160') format('woff'),
    url('//at.alicdn.com/t/font_2545362_p4bvtssj60g.ttf?t=1643030672160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-xiaolian:before {
  content: "\ec80";
}

.blog-github:before {
  content: "\e64c";
}
